html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #424242;
  padding: 70px 92px;
}

/* check */
.categories {
  width: 176px;
  height: 309px;
  padding-top: 21px;
  padding-left: 30px;
  margin-bottom: 50px;

  background-color: #fff;
  border-radius: 10px;
}

.categories__title {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.categories__check {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.checkbox__item {
  position: relative;
  cursor: pointer;
  padding-left: 24px;

  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.checkbox__item:not(:last-child) {
  margin-bottom: 20px;
}

.checkbox__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox__input+.checkbox__span {
  display: inline-flex;
  align-items: center;
}

.checkbox__input+.checkbox__span::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 15px;
  height: 15px;

  border: 1px solid #999;
  border-radius: 3px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60% 60%;
}

.checkbox__input:checked+.checkbox__span::before {
  background-image: url(../img/cheked.svg);
  border-color: #CCB26E;
}

/* select */

.choices {
  margin-bottom: 50px;
  width: 176px;
  height: 39px;

  background-color: #fff;
  border-radius: 10px;
}

.choices__inner {
  position: relative;
  padding: 10px 15px;
  width: 100%;
  min-height: 39px;

  background-color: #fff;
  border: none;
  font-size: 14px;

  z-index: 10;
}

.choices__inner:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__placeholder {
  opacity: 1;
}

.choices__list--dropdown .choices__placeholder {
  display: none;
}

.choices__list--single {
  padding: 0;
}

.is-open .choices__inner {
 border-radius: 10px;
 outline: 1px solid #CCB26E;
}

.choices[data-type*=select-one]::after {
  content: url(../img/arrow-select.svg);
  right: 25px;
  top: 12px;
  border: none;

  z-index: 11;
}

.choices[data-type*=select-one].is-open::after {
  content: url(../img/arrow-select-open.svg);
  margin-top: -5px;
}

.is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded] {
  border: 1px solid #CCB26E;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  margin-top: -5px;
  height: 259px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.choices__list--dropdown .choices__list, .choices__list[aria-expanded] .choices__list {
  padding-left: 15px;
  padding-top: 20px;
}

.choices__item:not(:last-child){
  margin-bottom: 20px;
}

.choices__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #333;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
  padding: 0;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: #fff;
}

.choices__list--dropdown .choices__item--selectable::after, .choices__list[aria-expanded] .choices__item--selectable::after {
  content: '';
}

@media (min-width: 640px){
  .choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 15px;
  }
}

/* map */

.map {
width: 460px;
height: 460px;
margin-bottom: 50px;
}

.ymaps-2-1-79-ground-pane {
  filter: grayscale(1);
}

.ymaps-2-1-79-copyright__wrap,
.ymaps-2-1-79-map-copyrights-promo {
  display: none !important;
}

/* scroll */
.scroll {
  padding: 20px 30px;
  margin-bottom: 50px;
  width: 399px;
  height: 310px;


  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  background-color: #fff;
  color: #333;
}

.simplebar-content-wrapper {
  overflow: auto;
}

.simplebar-scrollbar::before {
  right: 6px;
  padding-top: 7px;
  padding-right: 6px;

  background-color: #CCB26E;
  opacity: 1;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 7px;
  bottom: 7px;
  opacity: 1;
}

/* form */
.form {
  margin-bottom: 50px;
  padding: 38px 30px;
  width: 440px;
  min-height: 410px;

  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.form__input-wrap {
  display: flex;
  flex-direction: column-reverse;
}

.js-validate-error-label {
  margin-bottom: 5px;

  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #FF5C00 !important;
}

.form__input {
  margin-bottom: 31px;
  padding: 24px 20px;
  width: 380px;
  height: 60px;
  background: #FFFFFF;
  border: 1px solid #FF5C00;
  border-radius: 10px;
}

.form__input::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
}

.form__input:focus,
.form__input:hover,
.form__input:active {
  outline: none;
}

.form__btn {
  padding: 18.5px 53px;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  border: none;
  border-radius: 10px;
  background-color: #FF5C00;
  color: #fff;
  cursor: pointer;
}

/* tolltyp */
.tooltyp {
  /* position: relative; */
  padding: 20px 29px;
  width: 375px;
  min-height: 160px;

  background-color: #fff;
}

.tooltyp__descr {
  width: 268px;
  /* height: 120px; */
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.tooltyp__wrap-marker {
  position: relative;
  display: inline-block;
}

.tooltyp__marker {
  padding: 2px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.tooltyp__content {
  display: block;
  position: absolute;
  bottom: 23px;
  left: -71px;
  width: 163px;
  min-height: 31px;
  padding: 7px 15px;

  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background-color: #666;
  color: #fff;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  z-index: 3;
}

.tooltyp__content::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -6.28px;
  left: 0;
  min-height: 37.28px;
  width: 163px;
  background-image: url(../img/union.svg);
  background-position: center bottom;
  background-repeat: no-repeat;

  z-index: -1;
}

.tooltyp__marker:focus svg path,
.tooltyp__marker:hover svg path {
  fill: #CCB26E;
}

.tooltyp__marker:focus + .tooltyp__content,
.tooltyp__marker:hover + .tooltyp__content {
  opacity: 1;
}
